/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

:root {
	--primary-color:#357b70 ;
	--secondary-color: #e0b354;
	--white: #fff;
	--primary-color-visited: #05676e;
	--yellow-sun: #edc655;
	--orange-sun: #f76414;
	--deafult-font-weight: 700;
}

body {
	background-color: lightgray;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

h1 {
	font-size: 30px;
	font-weight: var(--deafult-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--deafult-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--deafult-font-weight);
}

a {
	color: var(--primary-color);
}

a:visited {
	color: var(--primary-color-visited);
}

a:hover, a:focus {
	text-decoration: none;
}

a:active {
	color: #489c79;
}

a.button:visited {
	color: white;
}

.button, button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
 	transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}



#work-status {
	margin-top: 2em;
}

#work {
	font-weight: bold;
}

#status {
	margin-left: 0.5em;
	padding: 0.5em;
	background-color: #dfc00a;
	border-radius: 0.5em;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
	float: left;
	width: 250px;
	margin-right: 40px;
	border-radius: 50%;
}

.page-footer {
	clear: both;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
}

.contact {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

#info {
	display: block;
}

#info div span:nth-child(odd) {
	display: inline-block;
	font-weight: bold;
	width: 12em;
}

#info div span:nth-child(even) {
	margin-left: 2em;
}

#info div:last-child {
	margin-bottom: 2em;
}

.about__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.about__list li:last-child {
	margin-bottom: 2em;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

* {
	box-sizing: border-box;
}

#work {
	text-align: center;
}

.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;	
}

.page-header {
	display: flex;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	border-bottom-style: solid;
	border-width: 1px;
}

.page-header__item {
	flex: 0 1 200px;
}

#logo {
	width: 250px;
	height: 50px;
}

#contact-form {
	display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form input[type='submit'] {
	margin-top: 2em;
}

#contact-form textarea {
	height: 6em;
}

.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

@supports (display: grid){
.grid {
	display: grid;
	margin: 0 4em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	}

.grid__item {
	background-color: var(--white);
	width: auto;
	min-height: auto;
	margin: 0;
	padding: 1em;
	}

.grid__item:last-child {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	}
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@keyframes color-change {
	from {
		fill: var(--yellow-sun);
	}
	to {
		fill: var(--yellow-sun);
	}
}

@keyframes cloud-move {
	from {
		transform: translate(0, 50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}

@keyframes cloud-move-reverse {
	from {
		transform: translate(446px, 48px);
	}
	to {
		transform: translate(100px, 48px);
	}
}

.sun {
	animation: 4s color-change infinite alternate linear;
}

.cloud-front {
	animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
	animation: 34s cloud-move-reverse infinite alternate linear;
}